		* {
			box-sizing: border-box;
		}

		body {
			overflow-x: hidden;
			background: white;
		}

		button, input, a {
			outline: 0 !important;
		}

		.row {
			flex-direction: row;
    		justify-content: center;
    		align-items: center;
		}

		.col-sm {
			display: grid;
			justify-content: center;
		}

		.polaroid {
			background: white;
			padding: 1rem;
			box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
			margin-left: auto;
    		margin-right: auto;
    		text-align: center;
			border: 2px solid black;
			height: 100%;
    		width: 100%;
    		position: relative;
		}

		.polaroid img {
			height: 400px;
    		width: 300px;
    		margin-bottom: 10px;
    		object-fit: cover;
    		border: 2px solid black;
		}

		.polaroid img:nth-of-type(n+2) {
			display: none;
		}

		.polaroid .next-btn {
			width: 50px;
			height: 50px;
			border: 1px solid black;
			border-radius: 25px;
			background: transparent;
			color: black;
		}

		#btn-left {
			float: left;
			margin-top: 200px;
		}

		#btn-left:hover {
			box-shadow: 5px 0px 10px 0px rgba(0,0,0,0.2); 
		}

		#btn-right {
			float: right;
			margin-top: 200px;
		}

		#btn-right:hover {
			box-shadow: -5px 0px 10px 0px rgba(0,0,0,0.2);
		}

		.showcasing {
			font-family: monospace;
    		letter-spacing: 3px;
    		font-size: 1rem;
    		text-align: center;
    		line-height: 0.2em;
    		color: saddlebrown;
		}

		.description {
			width: 300px;
		}

		.createdby {
			font-family: monospace;
    		letter-spacing: 3px;
    		font-size: 1rem;
    		text-align: right;
    		line-height: 1em;
    		color: saddlebrown;	
		}

		.details {
			text-align: justify;
			color: saddlebrown;
			font-size: 22.5px;
    		font-family: 'Handlee', cursive;
    		text-decoration: underline dotted darkgray;
		}

		.artist {
			font-family: 'brusherregular';
			font-size: 3.5rem;
    		text-align: right;
    		color: darkgreen;
		}

		.artist:hover {
			animation: 1s shake ease none;
		}

		.caption {
			font-family: 'impact_labelregular';
			font-size: 2rem;
			text-align: center;
			line-height: 2em;
			color: darkgreen;
		}

		.caption:hover {
			animation: 1s shake ease none;
		}

		.actions {
			text-align: center;
		}

		.action-btn {
			background: transparent;
			border: none;
		}

		.action-btn:hover {
			box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.2);
			animation: 1s shake ease none;
		}

		.action-btn:nth-child(1) {
			border: 1px red solid;
    		border-radius: 100%;
    		height: 50px;
    		width: 50px;
		}

		.action-btn:nth-child(2) {
			border: 1px orange solid;
    		border-radius: 100%;
    		height: 50px;
    		width: 50px;
		}

		.action-btn:nth-child(3) {
			border: 1px blue solid;
    		border-radius: 100%;
    		height: 50px;
    		width: 50px;
		}

		.love {
			width: 50px;
    		height: auto;
    		margin-top: -3px;
    		margin-left: -5px;
		}

		.actionprofile {
			background: white;
		}

		.save {
			        width: 40px;
    height: auto;
    margin-left: -1px;
    margin-top: -4px;
		}

		.checkout {
			    width: 35px;
    height: auto;
    margin-top: -2px;
		}

		.follow {
			width: 50px;
    		height: auto;
    		margin-top: -3px;
    		margin-left: -5px;
		}

		.message {
			        width: 40px;
    height: auto;
    margin-left: -1px;
    margin-top: -4px;
		}

		.settings {
			    width: 35px;
    height: auto;
    margin-top: -2px;
		}

		.price {
			font-family: 'Fira Sans', sans-serif;
			color: darkgreen;
			text-align: center;
    		letter-spacing: 3px;
    		font-weight: bold;
    		font-size: 1.5rem;
    		margin-top: 20px;
    		transition: 1ms ease;
		}

		.price:hover {
			font-size: 2rem;
    		transition: 1ms ease;			
		}

		.sponsored {
			font-family: monospace;
   	 		letter-spacing: 10px;
    		font-size: 1rem;
    		text-align: center;
    		font-weight: bold;
    		line-height: 2em;
    		color: burlywood;
		}

		.ad-divide {
			overflow: hidden;
    		border-style: inset;
    		border-width: 1px;
		}

		.comment {
			width: 200px;
    		height: 50px;
    		border: 1px black solid;
    		margin-left: auto;
    		margin-right: auto;
    		text-align: center;
    		border-radius: 100px;
    	}

		.comment:hover {
			box-shadow: 5px 0px 10px 0px rgba(0,0,0,0.2);
			animation: 1s shake ease;
		}

		.comment:before {
			position: absolute;
    		margin-left: 195px;
    		margin-top: 10px;
    		content: '';
    		border-left: 15px solid black;
    		border-top: 12px solid transparent;
    		border-bottom: 12px solid transparent;
		}

		.input-comment {
			margin-top: 10px;
			border: none;
			background: transparent;
			color: darkgreen;
		}

		.item {
			display: inline-block;
			margin-top: 2rem;
			/*filter: grayscale(100%);*/
			height: 500px;
    		width: 500px;
		}

		.item .polaroid:before{
			content: '';
			position: absolute;
			z-index: -1;
			transition: all 0.35s;
		}

		.one{
			transform: scale(0.8,0.8) rotate(5deg);
			transition: all 0.35s;
			position: relative;
			z-index: 1;
		}

		.one .polaroid:before{
			transform: rotate(5deg);
			height: 20%;
			width: 47%;
			bottom: 30px;
			right: 17px;
			box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
		}

		.one:nth-child(n+2) {
			transform: scale(0.8,0.8) rotate(-3deg);
			z-index: 0;
			position: absolute;
			left: 0;
    		right: 0;
    		margin-left: auto;
    		margin-right: auto;
		}

		.one:nth-child(n+3) {
			transform: scale(0.8,0.8) rotate(-11deg);
			z-index: -1;
			position: absolute;
		}

		.one:nth-child(n+4) {
			transform: scale(0.8,0.8) rotate(-19deg);
			z-index: -2;
			position: absolute;
		}

		.two{
			transform: scale(0.8,0.8) rotate(-5deg);
			transition: all 0.35s;
			position: relative;
			z-index: 1;
		}

		.two .polaroid:before{
			transform: rotate(-5deg);
			height: 20%;
			width: 47%;
			bottom: 30px;
			right: 18px;
			box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
		}

		.two:nth-child(n+2) {
			transform: scale(0.8,0.8) rotate(3deg);
			z-index: 0;
			position: absolute;
			left: 0;
    		margin-left: auto;
    		right: 0;
    		margin-right: auto;
		}

		.two:nth-child(n+3) {
			transform: scale(0.8,0.8) rotate(11deg);
			z-index: -1;
			position: absolute;
		}

		.two:nth-child(n+4) {
			transform: scale(0.8,0.8) rotate(19deg);
			z-index: -2;
			position: absolute;
		}

		.item:nth-child(1):hover {
			filter: none;
			transform: scale(1,1) rotate(0deg) !important;
			transition: all 0.35s;
			margin-bottom: 10px;
		}

		.item:nth-child(1):hover .polaroid:before{
			content: '';
			position: absolute;
			z-index: -1;
			transform: rotate(0deg);
			height: 90%;
			width: 90%;
			bottom: 0%;
			right: 5%;
			box-shadow: 0 1rem 3rem rgba(0,0,0,0.2);
			transition: all 0.35s;
		}

		@keyframes shake {
			0% {
				transform: rotate(2deg);
			}

			50% {
				transform: rotate(-2deg);
			}			

			100% {
				transform: rotate(2deg);
			}
		}

		.arrow {
			background-image: url("arrow.png");
			background-size: contain;
			background-repeat: no-repeat;
			height: 140px;
    		width: 140px;
    		margin-left: -90px;
    		margin-top: -50px;
    		margin-bottom: -40px;
    		transform: rotate(-40deg);
			transition: 200ms ease;
		}

		.arrow:hover {
			background-image: url("arrow-green.png");
			height: 145px;			
			transition: 200ms ease;
		}

				.opposite {
	    transform: rotate(45deg);
    background-image: url(arrow_sm.png);
    margin-right: 0px;
    margin-left: 250px;
    	}

    	.opposite:hover {
    		background-image: url("arrow_sm-green.png");
			height: 145px;			
			transition: 200ms ease;
    	}

		.cropp {
			text-align: left;
		}

		.disappear-1 {
			display: grid;
		}

		.disappear-2 {
			display: none;
		}

		@media screen and (max-width: 991px) { 
			.disappear-1 {
			display: none;
		}

		.disappear-2 {
			display: grid;
		}

			.arrow {
				background-image: url("arrow_sm.png");	
				transform: rotate(-75deg);
    			margin-left: -180px;
    			margin-right: 100px;
    			margin-top: -90px;
   			}

   			.arrow:hover {
			background-image: url("arrow_sm-green.png");
			height: 145px;			
			transition: 200ms ease;   				
   			}

			.opposite {
				background-image: url("arrow.png");	
				transform: rotate(75deg);
    			margin-left: 340px;
    			margin-right: 100px;
    			margin-top: -90px;
   			}

   			.opposite:hover {
			background-image: url("arrow-green.png");
			height: 145px;			
			transition: 200ms ease;   				
   			}   			

		}

		.top-header {
			position: sticky;
			padding: 0 0;
			pointer-events: none;
			background: white;
			border-bottom: 1px solid black;
		}

		.header-holder {
		}

		.menu-tab {
    pointer-events: all;
}

		.menu-tab img {
			    width: 40px;
    height: 40px;
		}

		.menu-tab:hover {

		}

		.top-logo {
			pointer-events: all;
			font-family: 'Londrina Outline', cursive;
			color: black;
			font-weight: bold;
			font-size: 3rem;
		}

		.top-logo:hover {
			font-size: 4rem;
			color: black;
		}

		.logo-fun {

		}

		.logo-kadaa {

		}

		.top-marks {
			pointer-events: all;
    		}

    		.bell {
		}

		    		.bag {
		}

    		.user {
		}

		.top-marks img {
			width: 40px;
    		height: 40px;
    	}

		.top-marks:hover {
	animation: 1s shake ease;		
		}

		.bell:hover {

		}

		.bag:hover {
		
		}

		.user:hover {
		
		}

		#leftright {
			display: none;
		}

		#rightleft {
			display: none;
		}

		#loading {
			margin-left: auto;
    		margin-right: auto;
    		display: block;
    		width: 40%;
    		height: 40%;
		}

		.chk-out-hdr {
        	color: dimgray;
    		font-family: 'Handlee', cursive;
    		background: white !important;
   			font-weight: bold;
    		font-size: 1rem;
    	}

    	.profile {
    		width: 400px;
    		height: 400px;
    		margin-top: 20px;
    		margin-right: 20px;
    	}

    	.profile .polaroid img {
    		height: 300px;
    	}

    	.myname {
    		font-size: 3rem;
    	}

    	.bio {
    		font-size: 18px;
    	}

    	.namearrow {
    		width: 100px;
    		height: 100px;
    		background-image: url(arrow.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 0px;
    margin-top: -50px;
    margin-bottom: -40px;
    transform: rotate(-40deg);
    transition: 200ms ease;
    	}

    	.namearrow:hover {
    		background-image: url("arrow-green.png");
			height: 105px;			
			transition: 200ms ease;
    	}

    	.profile-next {
    		position: absolute;
    		transform: scale(0.8,0.8) rotate(-5deg);
    z-index: -1;
    		    left: 0;
    right: 0;
    top: 0;
    width: 500px;
    height: 500px;
    margin-left: -45px;
    margin-top: -50px;
    	}

    	.mydivide {
    		color: black;
    		margin-top: 10px;
    	}

    	.mydets {
    		margin-bottom: 20px;
    	}

    	.redeem {
    display: inline;
    background-color: burlywood;
    border-radius: 0px;
    border: 1px solid black;
    font-family: 'Handlee', cursive;
    font-weight: bold;
        box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
        color: black;
        width: 90px;
    height: 35px;
    font-size: 0.65em;  
  }

  .redeem:hover {
  	animation: 1s shake ease;
  }

  .abouts {
  	    text-align: center;
    margin-top: 10px;
  }

  .profilerow {
  	z-index: -1;
  	position:absolute;
  	width: 100%;
  	height: 350px;
  	top:0;
  	background-image: url("greenhrts.jpg");
  	border-bottom: 5px solid dimgray;
  	border-image-repeat: repeat;
  	box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
  }

  .myhalfcircle {
  	z-index: -1;
  	position:absolute;
  	width: 550px;
  	    height: 340px;
    margin-top: 5px;
    margin-left: -150px;
    top:0;
  	background-image: url("cloud2.png");
  	background-repeat: no-repeat;
  	background-size: cover;
  }

  .toppols {
  }

  .nav-item {
	margin-bottom: -2px !important;
	margin-left: 0px;
}

.nav-link {
	border-right: 1px solid burlywood !important;
	border-top: 1px solid burlywood !important;
	border-left: 1px solid burlywood !important;
	border-bottom: 0px !important;
	font-family: 'Londrina Outline', cursive;
    font-weight: bold;
    font-size: 28px;
    color: saddlebrown !important;
}

.nav-link.active {
	border-color: black black white black !important;
	color: darkgreen !important;
}

.nav-tabs {
	padding-bottom: 1px;
	border-bottom: 1px solid black;
}

.dataTables_info {
	display: none;
}

.paginate_button {
	margin-right: 10px;
	font-family: 'Handlee', cursive;
    color: saddlebrown;
	font-size: 15px;
}

.paginate_button:hover {
	font-size: 18px;
	color: saddlebrown;
	text-decoration: none;
}

.paginate_button.current {
	font-weight: bold;
	color: darkgreen;
	font-size: 20px;
}

#myordertable_length {
	display: none;
}

#myordertable_filter label {
	font-family: 'Handlee', cursive;
    color: black;
}

#myordertable_filter label input {
	border: 1px solid black;
	background-color: white;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
	width: 200px;
	margin-right: -38px;
}

#myordertable {
	border: 1px solid black;
	background-color: white;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.2);	
}

#myordertable thead tr th {
	border-color: black;
	color: darkgreen;
	font-family: 'Luckiest Guy', cursive;
	letter-spacing: 1.5px;
}

#myordertable tbody tr td {
	border-color: dimgray;
	background-color: white;
	font-family: 'Handlee', cursive;
}

#myordertable_paginate {
	margin-right: -48px;				
}

		@media screen and (min-width: 992px) { 
			#myordertable_filter label input {
				margin-right: 0px;
			}

			
			#myordertable_paginate {
				margin-right: 0px;				
			}							
		}

#mysidetable_length {
	display: none;
}

#mysidetable_filter label {
	font-family: 'Handlee', cursive;
    color: black;
}

#mysidetable_filter label input {
	border: 1px solid black;
	background-color: white;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
	width: 200px;
	margin-right: -38px;
}

#mysidetable {
	border: 1px solid black;
	background-color: white;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.2);	
}

#mysidetable thead tr th {
	border-color: black;
	color: darkgreen;
	font-family: 'Luckiest Guy', cursive;
	letter-spacing: 1.5px;
	border-top: 2px solid black;
	border-left: 1px solid black;
    border-right: 1px solid black;
}

#mysidetable tbody tr td {
	border-color: black;
	color: black;
	background-color: white;
	font-family: 'Handlee', cursive;
}

#mysidetable_paginate {
	margin-right: -48px;				
}

		@media screen and (min-width: 992px) { 
			#mysidetable_filter label input {
				margin-right: 0px;
			}

			
			#mysidetable_paginate {
				margin-right: 0px;				
			}							
		}

.shopping {
	width: 300px;
	height: 300px;
}

.shopping:nth-child(1):hover {
	z-index: 3;
}

.shopping:nth-child(n+2) {
	top: 0;
}

		@media screen and (min-width: 992px) { 
			.shopping:nth-child(n+2) {
					left: 0px;	
			}
		}

		@media screen and (min-width: 1200px) { 
			.shopping:nth-child(n+2) {
				left: -30px;
			}
		}

.shopping .polaroid img {
	width: 240px;
	height: 210px;
}

.shopbtns {
	display: none;
}

.shopshow {
	font-size: 11px;
}

.shopcap {
	font-size: 22px;
}

.side-btn {
	border: 1px solid black;
	border-radius: 25px;
	background: white;
	color: black;
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
}

.book-btn {
	border: 1px solid black;
	border-radius: 25px;
	background: white;
	color: black;
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
}

.btn-down {
	margin-top: 0px !important;
}

.stat-box {
	border: 1px solid black;
	background: white;
	text-align: center;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
}

.stat-box .dumdum {
	font-size: 18px;
	display: block;
		color: darkgreen;
	font-family: 'Luckiest Guy', cursive;
	letter-spacing: 1.5px;	
	border-bottom: 1px solid black;
	line-height: 2rem;
}

.stat-in {
	height: 80px;
	margin-bottom: 15px;
}

.stat-in img {
	margin-top: -10px;
	width: 50px;
}

.stat-in span {
	display: inline-block;
	font-family: 'impact_labelregular';
    font-size: 2rem;
    color: saddlebrown;
    line-height: 3.7rem;
}

.map-stats {
	border: 1px solid black;
	background: white;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
	display: flex;
    align-items: center;
}

.map-fo-pak {
	width: 50%;
	margin: 10px;
	display: inline-block;
}

.map-fo-pak path {
	fill: white;
	stroke: black;
	stroke-width: 3px;
	transition: 0.3s ease;
}

.map-fo-pak :hover {
	fill: darkgreen;
}

.map-desc {
	border-left: 1px solid black;
	display: inline-block;
	width: 47.1%;
	vertical-align: top;
}

.map-div {
	height: 90px;
	width: 100%;
    margin-right: 0px;
    border-bottom: 1px solid black;
}

.map-div:nth-child(4) {
	border-bottom: 0px;
}

.progress { 
	margin-bottom: 10px;
    margin-left: 15px;
    margin-top: 10px;
    height: 15px;
    width: 90%;
    background-color: white;
    border-radius: 0;
    border: 1px solid black;
        box-shadow: 3px 3px 3px rgba(0,0,0,0.2);      
}

.progress-bar { 
	text-align: left; 
	    background-color: darkgreen;
    border-radius: 0px;
    border: 1px solid black;
    font-family: 'Handlee', cursive;
            font-size: 1.5rem;
    line-height: 0.2em; 
}

.map-label {
	font-family: 'Handlee', cursive;
    font-weight: bold;
    font-size: 1.5rem;
    float: left;
    margin-left: 20px;
}

.where {
	display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: monospace;
    font-size: medium;
    color: saddlebrown;
    letter-spacing: 3px;
    line-height: 0.6em;
}

.map-place {
	margin-left: 16px;
}

.map-perc {
	margin-right: 16px;
}

.map-circs {
	justify-content: space-evenly;
    margin-top: 5px;
    margin-bottom: 5px;
    display: none;
}

.map-budgets {
	display: inline-block;
	text-align: -webkit-center;
}

.map-percent {
	border: 1px solid black;
	border-radius: 100%;
	width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
    font-family: 'Londrina Outline', cursive;
	color: darkgreen;
	font-weight: bold;
	font-size: 40px;
}

.map-num {
		font-family: monospace;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 1rem;
    margin-top: 10px;
}

			@media screen and (min-width: 992px) { 

				.map-div:nth-child(4) {
					border-bottom: 1px solid black;
				}


				.map-div {
					height: 80px;
				}

				.map-circs {
					display: flex;
					height: 142px;
				}

				.map-budgets {
					margin-top: 7px;
				}

				.map-fo-pak {
					width: 50%;
				}

				.map-desc {
					width: 47.9%;
				}

				.progress {
					width: 95%;
				}

			}

			@media screen and (min-width: 1200px) { 

				.map-div:nth-child(4) {
					border-bottom: 1px solid black;
				}

				.map-div {
					height: 100px;
				}

				.map-circs {
					display: flex;
					height: 142px;
				}

				.map-budgets {
					margin-top: 7px;
				}

				.map-fo-pak {
					width: 50%;
				}

				.map-desc {
					width: 48.4%;
				}

				.progress {
					width: 95%;
				}

			}	

.chart-and-data {

}

.chart-div {

}

#curve_chart {
	width: 574.84px;
	height: 450px;
	border: 1px solid black;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
}

.inbox_people {
  float: right;
  overflow: hidden;
  width: 100%;
  background: white scroll;
  border: 1px solid black;
  height: 450px;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
}

.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}


.recent_heading {
	float: left; 
	width:40%;
}

.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%; padding:
}
.headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid black;
box-shadow: 3px 3px 3px rgba(0,0,0,0.2);}

.recent_heading h4 {
  font-size: 23px;
  margin: auto;
  font-family: 'Luckiest Guy', cursive;
  color: darkgreen;
}
.srch_bar input{ 
	border:1px solid black;
	border-width:0 0 1px 0;
	width:80%; 
	padding:2px 0 4px 6px; 
	background:none;
	font-family: 'Handlee', cursive;
}
.srch_bar .input-group-addon button {
	width: 30px;
	height: 30px;
	background: white;
    background-image: url("search.png");
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    margin-top: -5px;
    padding-bottom: 9px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}

.chat_ib h5{ font-size:18px; 
	color:black; 
	margin:0 0 8px 0;
	font-family: 'Handlee', cursive;
	font-weight: bold;
}

.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ 
	font-size:14px; 
	color:dimgray; 
	margin:auto;
	font-family: monospace;
	letter-spacing: 1px;
}
.chat_img {
  float: left;
  width: 11%;
}

.chat_img img {
	width: 80px;
	    margin-left: -18px;
    margin-top: -15px;
}

.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid dimgray;
  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_chat { height: 400px; overflow-y: scroll;}

.active_chat{ background:antiquewhite;
border-left: 0.5px solid black;
    border-right: 0.5px solid black;}

.map_heading {
	text-align: center;
	display: block;
	border: 1px solid black;
    margin-bottom: -2px;
}

.map_heading h4 {
	font-family: 'Luckiest Guy', cursive;
  	color: darkgreen;	
  	letter-spacing: 1px;
}

.chart-div {
	display: none;
}

@media screen and (min-width: 992px) { 
	.chart-div {
		display: block;
	}

	.chat_img img {
	width: 70px;
    margin-left: -17px;
	}
}

@media screen and (min-width: 1200px) { 
	.chat_img img {
		width: 80px;
    	margin-left: -18px;
	}	
}

.page-wrapper .sidebar-wrapper,
.sidebar-wrapper .sidebar-dropdown > a:after,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before,
.sidebar-wrapper ul li a i,
.page-wrapper .page-content,
.sidebar-wrapper .sidebar-menu ul li a,
#show-sidebar,
#close-sidebar {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.page-wrapper {
  height: 100vh;
}

.page-wrapper.toggled .sidebar-wrapper {
  left: 0px;
}

@media screen and (min-width: 768px) {
  .page-wrapper.toggled .page-content {
    padding-left: 300px;
  }
}

#show-sidebar {
  left: 0;
  top: 10px;
  border-radius: 0 4px 4px 0px;
  width: 35px;
  transition-delay: 0.3s;
}

.page-wrapper.toggled #show-sidebar {
  left: -40px;
}

.sidebar-wrapper {
  width: 300px;
  height: 100%;
  max-height: 100%;
  position: fixed;
  top: 0;
  left: -300px;
  z-index: 999;
  border-right: 1px solid black;
}

.sidebar-wrapper ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid black;
  margin-top: 10px;
}

.sidebar-content {
  max-height: calc(100% - 30px);
  height: calc(100% - 30px);
  overflow-y: auto;
  position: relative;
}

.sidebar-content.desktop {
  overflow-y: hidden;
}

.sidebar-header {
    margin-top: 10px;
    margin-left: 20px;
  overflow: hidden;
}

.user-pic img {
float: left;
margin-top: 5px;
margin-left: 5px;
width: 60px;
height: 60px;
border-radius: 100%;
border: 1px solid black;
box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
}

.user-pic img:hover {
  	animation: 1s shake ease;
}

.user-info {
  float: left;
  margin-left: 20px;
  margin-top: 15px;
}

.user-name {
  display: block;
  font-family: 'impact_labelregular';
  font-size: 1.3rem;
  color: darkgreen;
}

.user-role {
  display: block;
  font-family: monospace;
  letter-spacing: 3px;
  font-size: 1rem;
  color: saddlebrown;
}

.sidebar-wrapper .sidebar-search > div {
  padding: 10px 20px;
}

.sidebar-menu {
  padding-bottom: 10px;
}

.header-menu span {
  font-size: 21px;
    padding: 15px 20px 5px 20px;
    line-height: 3rem;
    font-family: 'Luckiest Guy', cursive;
    color: darkgreen;
}

.sidebar-menu ul li a {
  width: 100%;
  text-decoration: none;
  position: relative;
  padding: 8px 30px 8px 20px;
  color: saddlebrown;
    font-family: monospace;
    letter-spacing: 2px;
    font-size: 16px;
    line-height: 3rem;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
  padding: 5px 0;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
  padding-left: 25px;
  font-size: 13px;
}

.sidebar-wrapper .sidebar-menu .sidebar-submenu {
  display: none;
}

.page-wrapper .page-content {
  display: inline-block;
  width: 100%;
  padding-left: 0px;
  padding-top: 20px;
}

.page-wrapper .page-content > div {
  padding: 20px 40px;
}

.page-wrapper .page-content {
  overflow-x: hidden;
}

.search-menu {
	    border-radius: 0px;
    border: 1px solid black;
    font-family: 'Handlee', cursive;
    padding-top: 8px;
}

.input-group {
	box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
}

.input-group-text {
	border-radius: 0px;
	background: white;
	background-image: url("search.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 40px;
	border-top: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	height: 38px;
}

.header-menu {
	    border-bottom: 1px solid dimgray;
}

.sidebar-dropdown {
	    border-bottom: 0.5px solid dimgray;
}

#submens1,#submens2,#submens3,#submens4,#submens5,#submens6 {
	display: none;
}

#submens1:target,#submens2:target,#submens3:target,#submens4:target,#submens5:target,#submens6:target {
	display: block;
}

.sidebar-submenu ul li a {
	font-size: 12px;
	font-weight: bold;
}

.sidebar-submenu ul li {
	border-bottom: 0.5px dotted dimgray;
}

.sidebar-submenu ul li:last-child {
	border-bottom: 0px;
}

.user img {
	    width: 30px;
    height: 30px;
}

.badge-danger {
	border-radius: 100%;
}

#notificationsBadge {
	display: block;
    width: 17px;
    margin-left: 23px;
    margin-top: -45px;
}

#cartBadge {
	display: block;
    width: 17px;
    margin-left: 23px;
    margin-top: -45px;
}

#messagesBadge {
	display: block;
    width: 17px;
    margin-left: 20px;
    margin-top: -42px;
}

.nav-item {
	margin-top: -27px;
}

.top-marks {
			pointer-events: all;
			font-family: sans-serif;
			font-size: 14px;
			border: 0 !important;
}

	.user {
    			margin-top: 6px;
		}

		.lead {
    font-family: monospace;
        letter-spacing: 3px;
        font-size: 1rem;
        color: saddlebrown; 
  }

  .chk-out-hdr {
          color: black;
    font-family: 'Londrina Outline', cursive;
   		background: white !important;
   		font-weight: bold;
    font-size: 2rem;
  }

  .py-5 {
  	padding-top: 0 !important;
  }
